<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Jídlo</title>
    
    <script type="text/javascript" src="/static/jquery-latest.js"></script> 
    <script type="text/javascript" src="/static/jquery.tablesorter.js"></script> 
    <script>    
        $(document).ready(function() 
        { 
            $(".kantyna").tablesorter(); 
        } 
    ); 
    </script>
</head>
<body>
    <div class="jumbotron" style="height: 240px;/* background-image: url('http://lorempixel.com/1000/800/food/'); background-size: cover;background-position: center center, center center;*/">
        <div class="container">
            <h1>{{dnesni_datum}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h2><a href="http://www.manihi.cz/zavodni-stravovani-kantyna/kantyna-rosmarin-business-center/denni-menu/">Kantýna</a></h2>
                Datum: {%- if kant_date is not none -%}{{ " " + kant_date.upper() }}{% endif %}
                <table class="table table-striped" id="kantyna">
                  <thead>
                        <td style="font-weight:bold;">Jídlo</td>
                        <td style="font-weight:bold;">Cena</td>
                    </thead>
                    {% for i, p in kant_menu %}
                     <tr>
                        <td>{{ i }}</td>
                        <td>{{ p }}</td>
                        <!--<td>{{i.2}}</td>-->
                    </tr>
                    {% endfor %}
                </table>          
            </div>
           <div class="col-xs-6">
                <h2><a href="http://www.chutpoint.cz/denni-nabidka/">Chuťpoint</a></h2>
                Datum: {%- if chut_date is not none -%}{{ " " + chut_date.upper() }}{% endif %}
                <table class="table table-striped" id="kantyna">
                  <thead>
                        <td style="font-weight:bold;">Jídlo</td>
                        <td style="font-weight:bold;">Cena</td>
                    </thead>
                    {% for i, p in chut_menu %}
                     <tr>
                        <td>{{ i }}</td>
                        <td>{{ p }} Kč  </td> 
                    </tr>
                    {% endfor %}
                </table>          
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2><a href="http://uvrtulejidelna.webnode.cz/sluzby/">Vrtule</a></h2>
                TODO: Polívky
                Datum: {%- if vrt_date is not none -%}{{ " " + vrt_date.upper() }}{% endif %}
                <table class="table table-striped" id="kantyna">
                  <thead>
                        <td style="font-weight:bold;">Gramáž</td>
                        <td style="font-weight:bold;">Jídlo</td>
                        <td style="font-weight:bold;">Cena</td>
                    </thead>
                    {% for w, i, p in vrt_menu %}
                     <tr>
                        <td>{{ w }}</td>
                        <td>{{ i }}</td>
                        <td>{{ p }}</td>
                    </tr>
                    {% endfor %}
                </table>          
            </div>
        </div>
    </div>

</body>
</html>
